.info{
    color:darkblue; 
    text-align: center;
    background-color: cadetblue;
    border: 2px solid red;
    border-radius: 30px;
}
.text{
    text-align: center;
    background-color: yellow;

}
.title{
    display: block;
    color: darkgreen;
}